
* {
	box-sizing: border-box;
}

.container {
    padding: 0px;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: calc(100% - 52px);
    margin: 0 auto;
    margin-top: 52px;
    overflow: hidden;
}

body {
	background-image: url("http://www.euromoldes.com.br/site/web/images/background2.jpg");
	background-size: cover;
    padding: 0px; 
	margin:0px;
}

ul#channel li {
	cursor: pointer;
	border-bottom: 1px solid rgba(123, 162, 166, 0.2);
    padding: 5px 10px;
}
ul#channel li:hover {
	background-color: rgba(255,255,255,0.1);
}

ul#channel {
	overflow: auto;
}

div {
	padding: 0px;
	margin: 0px;
}

ul {
	font-size: smaller;
	display: block;
	list-style-type: none;
}

div#ui ul {
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0px;
	word-wrap: break-word;
	padding: 0;
}

div#ui {
	width: 100%;
	height: 100%;
	display: none;
	background-color: white;
	font-size: 17px;
	font-family: arial;
}

div#top-box {
	width: calc(100% - 300px);
	height: calc(100% - 60px);
	display: inline-block;
	padding: 20px 10px 10px 20px;
	overflow-y: auto;
}

div#bottom-box {
	height: 60px;
	width: calc(100% - 300px);
	line-height: 60px;
	background-color: whitesmoke;
    border-top: 1px solid #dfdfdf;
}

input#msginput {
	width: 82%;
    height: 35px;
    outline: none;
    padding-left: 7px;
    color: #202020;
}

div#connect {
    display: inline-block;
    height: 280px;
    width: 430px;
	padding: 15px 55px;
    margin-left: calc(50% - 215px);
    margin-top: calc(25% - 215px);
    background-color: whitesmoke;
    color: #101010;
    border-radius: 2px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.2);
}

#connect input[type='text'] {
	width: 300px;
	text-align: center;
}

#nav-id {
	position: fixed;
	z-index: 10;
	width: 100%;
	border-radius: 0;
	margin: 0;
}

div#userlist {
	width: 300px;
    height: 100%;
    background-color: #222222;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    float: right;
    box-shadow: inset 5px 0px 10px rgba(0,0,0,0.1);
    border-left: 1px solid #c4c4c4;
    color: #79adca;
}

form#send-text {
	padding: 0px 20px;
	text-align: center;
    line-height: 50px;
}